<h3>End-user Agreement Usage of the e-Mobility Software</h3>
<h4>Personal Data</h4>
<p>Only the data regarding the usage of the charging stations for each user will be stored:</p>
<ul>
  <li>First and Last Name</li>
  <li>Email</li>
  <li>Phone, Mobile number</li>
  <li>RFID Cards</li>
  <li>Account Status (active, blocked...)</li>
  <li>User's Role (basic, admin...)</li>
  <li>Language</li>
  <li>Picture</li>
  <li>Address</li>
  <li>Vehicle Information (Plate ID, VIN...)</li>
  <li>Password (hashed)</li>
  <li>Professional ID Number</li>
  <li>Professional Cost Center</li>
</ul>
<h4>Business User Data</h4>
<ul>
  <li>Instant and Total Consumption</li>
  <li>Charging Stations' Status</li>
  <li>Start/Stop of Sessions</li>
  <li>Authorizations</li>
  <li>Charging Curves (Consumption Data)</li>
  <li>Cost Curves (Pricing Data)</li>
  <li>Session Data (date/hour, duration, inactivity, total consumption...)</li>
  <li>Active Sessions</li>
  <li>Sessions History</li>
  <li>Site Assignment</li>
  <li>Vehicles</li>
  <li>Billing Information</li>
  <li>System Logs</li>
</ul>
<h4>Scenarios</h4>
<ul>
  <li>Analytics (usage, consumption, cost...)</li>
  <li>Site Management</li>
  <li>Authorizations Management</li>
  <li>Price Management</li>
  <li>Billing Management</li>
  <li>Smart Charging</li>
  <li>Charging Station Booking</li>
  <li>Charging Predictions</li>
  <li>Users and Admin Notifications</li>
  <li>Charge at Home</li>
  <li>Refunding of Sessions</li>
  <li>Roaming</li>
</ul>
<h4>Goal of the Data Processing</h4>
<ul>
  <li>Optimize the usage of the charging stations by the users while keeping the cost low.</li>
  <li>Improve the maintenance and the vehicle rotation on the charging stations.</li>
  <li>Develop a charging optimization algorithm to introduce a load management system that enables EVs to charge
    concurrently according site's constraints (site's maximum power...)
  </li>
  <li>Encourage users to charge at home in order to lower the infrastructure's load and eventually get their electricity consumptions reimbursed for charging their
    professional cars
  </li>
</ul>
<h4>Privacy</h4>
<ul>
    <li>This application has been designed considering all personal data privacy from the beginning.</li>
</ul>
<h4>Third Party Product Integrations</h4>
<ul>
  <li><b>CasaCharge Analytics</b>: used to process and display complex statistics</li>
  <li><b>CasaCharge Concur</b>: used to reimbursed the energy spent by the users at home</li>
  <li><b>Stripe</b>: used for the billing and the payment of the sessions</li>
  <li><b>Gireve / Hubject</b>: used to publish the charging stations to a roaming platform</li>
  <li><b>Google Firebase</b>: used to send remote push notifications to the user's mobile phones</li>
</ul>
<h4>Involved Users</h4>
<ul>
  <li>The users that make use of the charging stations on the monitored site and who registered to the
  <a href="{{chargeAngelsURL}}" target="_blank" rel="noopener">e-Mobility</a> application.</li>
</ul>
<h4>Data Processing Target</h4>
<ul>
  <li>The data processing are for site managers, data scientists and demos to internal/external customers.</li>
  <li>Users access the data only through the secured protocol (HTTPs)
  </li>
  <li>CasaCharge data scientists receive only the anonymized transactions from an admin to test their charging algorithms.</li>
  <li>For demoing the <a href="{{chargeAngelsURL}}" target="_blank" rel="noopener">e-Mobility</a> application to
    external people (not CasaCharge), we use a demo user to anonymize all the personal data.
  </li>
  <li>User's sessions could be pushed to to CasaCharge Analytics systems in Australia for testing or demo purposes.</li>
  <li>User's sessions could be processed to predict charging demand on a given site.</li>
</ul>
<h4>Data Localization</h4>
<ul>
    <li>The application will be deployed and the data will be stored on a Cloud platform that is located in Europe.</li>
</ul>
<h4>Right to Oblivion</h4>
<ul>
  <li>Your personal data will be kept until the end of your employment contract with the company.</li>
  <li>Your personal data will be erased manually after an inactivity period of 6 months (no connection to the application during that time.)</li>
  <li>Your personal data will be erased in case you request it (make an inquiry to the <a href="mailto:dpo@e-mobility-solution.com">Data Privacy Officer</a>)</li>
</ul>
<h4>Security</h4>
<ul>
  <li>User and Password are required to access the application for all the users.</li>
  <li>The data is securely sent over the network using an encrypted protocol (HTTPs) thus ensuring the confidentiality.</li>
  <li>Only administrators are authorized to read, write, edit, delete all the data stored in the database.</li>
  <li>Standard users are only authorized to read and edit their own personal data, see the charging stations availability, the current charge,
  the history of their sessions and their statistics.</li>
  <li>Your data can be communicated to third parties in case of legal inquiry such as "Inspection du travail" or "Services fiscaux" or police services.</li>
</ul>
<h4>User Consent</h4>
<ul>
  <li>You must give your explicit consent for us to use your data.</li>
  <li>This is done via a checkbox in the login page of the <a href="{{chargeAngelsURL}}" target="_blank" rel="noopener">e-Mobility</a> application.</li>
</ul>
<h4>Right to access and correct data</h4>
<ul>
  <li>You can, upon providing proof of your identity, make an inquiry to the <a href="mailto:dpo@e-mobility-solution.com">Data
  Privacy Officer</a> or the administrator about the right of accessing your personal data. </li>
  <li>You can request, to the <a href="mailto:dpo@e-mobility-solution.com">Data
    Privacy Officer</a>, that the information concerning your data that is inaccurate, incomplete, equivocal, no longer
  valid, or that the use, communication or keeping of which is prohibited, may be corrected, completed, clarified,
  updated or deleted.</li>
</ul>
<h4>Right to Object</h4>
<ul>
  <li>You have the right to object about the usage of all or part of your data by contacting the <a href="mailto:dpo@e-mobility-solution.com">Data Privacy Officer</a>.</li>
</ul>
<h4>Limit the Data Processing</h4>
<ul>
  <li>You have the right to limit part of the usage of your data.</li>
</ul>
<h4>Portability Right</h4>
<ul>
  <li>You can request, to the <a href="mailto:dpo@e-mobility-solution.com">Data Privacy Officer</a>, the
  transfer of all or part of your personal data in a file which is readable.</li>
  <li>You can also export all or part of your sessions in the application.</li>
</ul>
